@import url('../partials/header/_header.css');
@import url('../partials/title/sectionTile.css');
@import url('../partials/footer/footer.css');
@import url('../partials/user-login-form/user-login-form.css');
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: .78em;
    background-color: rgba(245, 245, 245, 0.048);
}
.container{
    background-image: url("../../images/bgsvg1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}
section{

}

a{
    text-decoration: none !important;
}