*{
    box-sizing: border-box;
}

.make-complaint-form{
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.425);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.make-complaint-form form{
    width: 700px;
}
.previous-form{
    display: flex;
}
.previous-complaint-list{
    background-color: #fff;
    width: 90%;
    flex-wrap: wrap;
    min-height: 500px;
    padding: 20px;
}

.complaint-card-container{
    /* padding: 10px; */
    width: 300px;
    /* margin:0  10px; */
   
}
.complaint-card{
    min-height: 450px;
    width: 100%;
    min-width: 250px;
    background-color: #fff;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.158);
    border:  1px solid rgba(128, 128, 128, 0.329);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.complaint-card .header{
    font-family: 'Segoe UI' ;
    text-align: center;
    font-size: 1.7em;
    padding: 10px 0; 
    color: rgb(61, 61, 61);
}
.header p {
    font-size: .8em;
}
.complaint-card .desc{
    padding-top: 10px;
    font-size: 1.1em;
    color: rgba(61, 61, 61, 0.87);
    text-align: justify;
    font-family: 'Segoe UI' ;

}
.complaint-card .properties{
    padding-top: 15px;
}
.complaint-card .properties ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.properties ul li{
    padding: 5px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.1em;
    font-family: 'Segoe UI' ;
    color: rgba(2, 22, 82, 0.74);

}
.properties ul li img {
    padding-right: 10px;
}

.complaint-card .footer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.complaint-card .footer .current-registered-count{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI' ;
    cursor: pointer;
    
}
.current-registered-count img {
    padding-right: 10px;
}
.complaint-card .footer .register-btn , .accept-btn{
    background-color: green;
    width: 100px;
    color: white;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    height: 30px;
    cursor: pointer;
    box-shadow:  1px 3px 6px rgba(0, 0, 0, 0.253);
    font-family: 'Segoe UI' ;

}
.accept-btn{
    width: fit-content;
    padding: 5px 10px;
}
.complaint-card .footer .register-btn:hover{
    box-shadow:  1px 2px 4px rgba(0, 0, 0, 0.178);
}
.complaint-card:hover  {
    box-shadow:  1px 2px 4px rgba(0, 0, 0, 0.178);

}
.complaint-card .pending-btn{
    color: rgba(0, 0, 0, 0.438);
    font-size: 1.2em;
    
    font-family: 'Segoe UI' ;
    
}
.pending-btn span{
    color: rgba(240, 204, 0, 0.842);
    font-weight: 600;
}
.special-notices{
    color: rgba(196, 20, 20, 0.897);
}

.image-upload-card-list-container{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.image-upload-card-container {
    height: fit-content ;
    width: 32%;
    /*background-color: yellow;*/
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
}
.image-upload-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-upload-card label {
    background-color: #0275d8;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: 'Segoe UI' ;

}