*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
.error{
    color: red;
    font-size: 0.6em;
    margin-top: 5px;
}
.image-upload-card-container {
    height: fit-content ;
    width: 32%;
}
.image-upload-card{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
    /*background-color: red;*/
    width: 200px;
}
.image-upload-card label {
    background-color: #0275d8;
    width: 100%;
    text-align: center;
    color: white;
    padding: 6px;
    font-family: 'Segoe UI';

}


.Vaccin_main_Container {
    /* background-color: aqua; */
    margin-left: 78px;
}
input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    background-color: unset;
    width: 300px;
    outline: none;
}
.header {
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header .upper-title {
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}

.header .dashboard-name {
    font-size: .6em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 1.2em;
}
.body-content{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
}
.MR_container{
    margin-top: 40px;
    /* background-color: aquamarine; */
    width: 80%;
}

.sidebar-main-show{
    max-width: calc(100vw - 180px);
    margin-left: 180px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}



/* basic content */
.basic_content{
    /* border: 1px solid black; */
    box-shadow: 3px 3px 3px #0a0a0a1c;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.basic-title{
    /* background-color: cadetblue; */
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 3px #0a0a0a1c;
    font-size: 1.1em;
    padding-left: 10px;
}
.basic_left{
    width: 500px;
    padding-left: 23px;
}
.left_row{
    display: flex;
    /* background-color: crimson; */
    margin-bottom: 35px;
}
.basic_body_contetnt{
    margin-top: 15px;
    display: flex;
    padding: 20px;
}
.left_row_left{
    width: 200px;
    padding-top: 3px;
}
.basic-right{
    /* background-color: blue; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
}
.upload_image{
    background-color: #27AE60;
    cursor: pointer;
    border-radius: 2px;
    width: 200px;
    text-align: center;
    padding: 5px;
    color: aliceblue;
}



/* advance content  */
.advance_content{
    margin-top: 60px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 3px 3px 3px #0a0a0a1c;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.advance_row{
    margin-top: 20px;
    padding: 30px;
}
.row_textarea{
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.068);
    display:block;
    width: 90%;
    height: 400px;
    box-shadow: 3px 3px 3px #0a0a0a1c;
    padding: 10px;
}
#btn_done{
    border: none;
    margin-left: 30px;
    background-color: #27AE60;
    padding: 5px 40px;
    border-radius: 3px;
    color: aliceblue;
}

@media only screen and (max-width: 1090px ){
    .basic_body_contetnt{
        flex-direction: column;
    }
    .basic-right{
        justify-content: flex-start;
        /*width: fit-content;*/
        padding: 25px;
    }
    .row_textarea{
        width: 95% !important;
    }
    .advance_row{
        padding-right: 0;
    }
}
@media only screen and (max-width: 776px ){
    .left_row{
        flex-direction: column;
    }
    input{
        margin-top: 15px;
        width:90%;
    }
    .basic_left{
        width: 100%;
        padding-left: 10px;
    }
    .basic_body_contetnt{
        padding: 0;
    }
    .advance_row{
        padding-left: 10px;
    }
}
@media only screen and (max-width: 403px ){
    .upload_image{
        width: 120px;
    }
}