*{
    margin: 0;
    padding: 0;
    /* font-size: 16px; */

}
body{
    background-color: #dfe4ea59;
    margin-left: 78px;
    max-width: calc(100vw - 78px);
    /* max-width: (100vw-78px); */
}
/* .container{
    width: 100%;

} */

.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;
    /* background-color: red;*/
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}

.header{
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .6em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.main-content{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.76);
    overflow-x: hidden;
}
.search-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
select,input{
    width: 190px;
    height: 30px;
    border: none;
    font-size: .8em;
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.705) ;
    /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.13); */
    background-color: #dfe4ea59;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.096);
    outline: none;
}
.total-summary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.096);
    margin-top: 15px;
    background-color: white;
    text-align: center;
}
.total-summary div{
    margin-top: 30px;
}
.charts-disease,.charts-total-summary{
    display: flex;
    justify-content: space-around;
}
.chart{
    width: 20%;
}
.chart1{
    width: 30%;
}
.update-button{
    padding: 25px 70px;
}
.update-button button{
    border: none;
    padding: 8px;
    width: 80px;
    border-radius: 3px;
    background-color: #f0ad4e;
    color: white;
    font-size: .6em;
    cursor: pointer;
    float: right;
}
.officer-count{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.count-box{
    width: 20%;
    min-height: 100px;
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.096);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.down{
    width: 90%;
    display: flex;
    justify-content:space-around;
    padding: 30px;
}
.table{
    /*width: 100%;*/
    border-collapse: collapse;
    padding: 25px;
}
.table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:.9em;
    color: rgba(0, 0, 0, 0.856);
}
.table th{
    background-color: #009685;
    color:#ffffff;
}
.table tbody tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.137);
}
table{
    width: 100%;
}
.table{
    display: flex;
    align-items: center;
}
.left,.right{
    width: 30%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.096);
    background-color: white;
    padding: 20px;
}
.right{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up-select{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.r{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60%;
}
.r .registered{
    font-size: .8em;
    text-align: center;
}
.r .count{
    font-size: 1em;
    font-weight: bold;
}
@media(max-width:1000px){
    .charts-disease{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 30px;
    }
    .chart{
        width: 40%;
    }
    .search-section select{
        width: 100%;
    }
}
@media(max-width:800px){
    .down,.charts-total-summary,.up-select{
        flex-direction: column;
        align-items: center;
    }
    .up-select input,select{
        margin-top: 6px;
        width: 100%;
    }
    .left,.right{
        width: 60%;
        margin-top: 20px;
    }
    .chart1{
        width: 50%;
    }
    .officer-count{
        flex-direction: column;
        align-items: center;
    }
    .count-box{
        width: 30%;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;

        transition: 0.2s ease;
        /*transition-delay: 0.1s;*/
    }
    /* .down{
        width: 0;
    } */
}
@media(max-width:500px){

    .count-box{
        width: 60%;
    }
    .chart{
        width: 60%;
    }
    .chart1{
        width: 70%;
    }
    .search-section{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding-top: 30px;
    }
    .left,.right{
        width: 120%;
        margin-top: 20px;
    }


}