
.search-m{
    padding-left:120px;
}
/*table styles  */
.table{
    width: 80%;
    border-collapse: collapse;
    /* margin: 25px 0; */
    margin: auto;
    font-size: 0.9em;
    /*overflow: hidden;*/
}
.table th{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
thead{
    width: 100%;
}
.table td,.table th{
    padding:12px 15px;
    border:1px solid rgb(240, 236, 236);
    text-align: center;
    font-size:.9em;

}
td{
    color: rgba(0, 0, 0, 0.712);
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:nth-of-type(odd) {
    background-color:white;
}
.header{
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .6em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.main-title{
    height: 50px;
    display: flex;
    padding-left: 5%;
    align-items: center;
    font-size: .9em;
}
.search-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
select{
    width: 150px;
    height: 30px;
    border: none;
    font-size: .8em;
    padding-left: 4px;
    color: rgba(0, 0, 0, 0.705) ;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.13);
}
*:focus{outline: none}
input{
    display: block;
    font-size: .8em;
    width: 150px;
    height: 30px;
    background: transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    transition: all .3s ease;
    /* padding: 0 15px */
}
input:focus{
    border-color: rgba(0, 0, 0, 0.767)
}
.search-officer{
    position: relative;
}
.search-m{
    position: absolute;
    top: 11px;
}
label{
    font-size: 15px!important;
    color: rgba(52, 52, 52, 0.72);
}

.search_Btn {
    border: none;
    padding: 5px;
    width: 120px;
    border-radius: 3px;
    background-color: #5cb85c ;
    color: white;
    font-size: .8em;
    cursor: pointer;
}

.update button{
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 3px;
    /*background-color: #EB3B5A;*/
    background-color: #d9534f;
    color: white;
    font-size: .7em;
    cursor: pointer;
}
.update{
    display: flex;
    justify-content: center;
    height: 100%!important;
}
.Block button{
    border: none;
    padding: 5px;
    width: 80px;
    border-radius: 3px;
    /*background-color: #EB3B5A;*/
    background-color: #d9534f;
    color: white;
    font-size: .7em;
    cursor: pointer;
}
/*responsive*/
/*@media(max-width: 800px){*/
/*    .table{*/
/*        width: 70% !important;*/
/*        background-color: red;*/
/*    }*/
/*}*/


.filter_announcement_admin{
    width: 80%;
    margin: auto;
    /*background-color: #019686;*/
    min-height: 50px ;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
    margin: 10px auto ;
    padding: 10px;
    display: flex;
}
@media(max-width: 875px){
    .table .thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        /*width: 90%;*/
    }
    .table tr{
        margin-bottom:15px;
    }
    .table td{
        /* text-align: right; */
        padding-left: 50%;
        text-align: center;
        position: relative;
        background-color:white
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left:15px;
        font-size:12px;
        font-weight: bold;
        text-align: left;
    }
    .search-section{
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
        width: 100%;
    }
    .select{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;

        transition: 0.2s ease;
        /*transition-delay: 0.1s;*/
    }
}





