.container{
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 78px);
    margin-left: 78px;
    min-height: 100vh;
    transition: 0.2s ease;
    font-size: 18px;
    /*background-color: #FCFCFC;*/
}
.header{
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .6em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
body{
    background-color: #dfe4ea59;
}
.add-com-type{
    width: 30%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.096);
    /*height: 300px;*/
    height: 430px;
    /*padding: 10px;*/
    background-color: white;
    /*margin: 10px 0 0 0;*/

}
.add-com-type input{
    border: 0;
    /*box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.082);*/
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.158);
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    height: 25px;
}
.add{
    display: flex;
    flex-direction: column;
}
.add-com-type button{
    margin-top: 10px;
    border: 0;
    padding: 3px 12px;
    border-radius: 2px;
    background-color: #2E86DE;
    color: white!important;
    cursor: pointer;
    font-size: .8em;

}
.appointment div{
    padding: 2px;
}
.types{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.76);
    /* font-size: 1.8em; */
}
.types p{
    margin-top: 2px;
}
.appointments-container{
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding: 30px;
}
.search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    align-content: center;
}
.search-section input{
    margin-left:8%;
    padding-left: 5px;
    border: 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.082);
    height: 25px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.appointment{
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-around;
    border: 2px dashed rgba(185, 185, 187, 0.9);
    background-color: white;
    padding: 5px;
    margin-bottom: 25px;
}
.sender-information{
    font-family: corbel;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reject-button button{
    background-color:#D9534F;
    color: white;
    border: none;
    padding: 5px;
    float: right;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.sender-details{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*width: 50%;*/
    padding-left: 5px;
}
/*.sender-details div{*/
/*    margin: 0 2px;*/
/*}*/
.send-button-note{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}
.second div{
    margin: 0 5px;
}
.first div{
    margin: 0 5px;
}
.first,.second{
    display: flex;
    justify-content: space-around;
    /*background-color: #0D47A1;*/
    width: 100%;
    margin:10px;
}
.send-button-note button{
    background-color:#0275D8;
    color: white;
    border: none;
    padding: 2px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 2px;
}
.up{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 3px;
}
input{
    font-family: corbel;
}

.date-details{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /*background-color: red;*/
}
.sender{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.first{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.second{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
/*!* responsive *!*/
@media screen and (max-width: 1050px) {
    .appointment{
        flex-direction: column;
        align-items: center;
        height: 250px;
        width: 90%;
    }
    .sender-details{
        flex-direction: row;
    }
    .sender-information{
        width: 100%;
        flex-direction: row;
        text-align: center;
    }
}
@media screen and (max-width: 770px) {
    .appointment{
        height: 340px;
    }
    .sender{
        flex-direction: column;
    }
    .date-details{
        flex-direction: column;
        align-items: center;
    }
    .sender-details{
        padding: 15px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 475px) {
    .appointment{
        height: 500px;
    }
    .reject-button{
        padding: 15px;
        align-items: center;
    }
    .sender-information{
        flex-direction: column;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;
        transition: 0.2s ease;
    }
    .sender-details{
        flex-direction: column;

    }
    .first,.second{
        flex-direction: column;
        align-items: center;
    }
    .first div, .second div{
        margin: 0;
    }
}