
.container{
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 78px);
    margin-left: 78px;
    min-height: 100vh;
    transition: 0.2s ease;
    background-color: #FCFCFC;
}
.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.appointments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    align-content: center;
}
.search-section input{
    margin-left:8%;
    padding-left: 5px;
    border: 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.082);
    height: 25px;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.appointment{
    width: 85%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    border: 2px dashed rgba(185, 185, 187, 0.9);
    background-color: white;
    padding: 10px;
    margin-top: 25px;
}
.sender-information{
    font-family: corbel;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.reject-button button{
    background-color:#D9534F;
    color: white;
    border: none;
    padding: 4px 4.5px;
    float: right;
    border-radius: 3px;
    cursor: pointer;
}
.sender-details{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first-time-slots{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.first-time-slots div{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .5em;
    width: 100px;
    padding: 1px;
}
.first-time-slots label{
    background-color: #7382EF;
    width: 80px;
    margin-left: 2px;
    text-align: center;
    padding: 3px;
    border-radius: 2px;
}
.first-time-slots input{
    cursor: pointer;
    width: 13.5px;
    height: 13.5px;
}
.second-time-slots{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.second-time-slots div{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .5em;
    width: 100px;
    padding: 3px;
}
.second-time-slots label{
    padding: 3.8px;
    border-radius: 2px;
    margin-left: 2px;
    background-color: #7382EF;
    width: 80px;
    text-align: center;
}
.second-time-slots input{
    cursor: pointer;
    width: 13.5px;
    height: 13.5px;
}
.first-date{
    padding: 5px 0;
}
.first-date input, .second-date input{
    padding-left: 5px;
    height: 15px;
    font-size: .6em;
    font-family: Arial, Helvetica, sans-serif;

}
.second-date{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}
.second-date button{
    background-color:#0275D8;
    color: white;
    border: none;
    padding: 2px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}
input{
    font-family: corbel;
}

.date-details{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.icon{
    margin-right: 2.5px;
}
.sender{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.first{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.second{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
/*!* responsive *!*/
@media screen and (max-width: 1030px) {
    .appointment{
        flex-direction: column;
        align-items: center;
        height: 320px;
    }
    .sender{
        width: 100%;
        justify-content: space-around;
    }
    .sender-information{
        flex-direction: row;
        text-align: center;
    }
    .sender-details{
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
    }
    .date-details{
        justify-content: space-between;
        width: 100%;
    }
}
@media screen and (max-width: 770px) {
    .appointment{
        height: 400px;
        width: 80%;
    }
    .sender{
        flex-direction: column;
    }
    .date-details{
        flex-direction: column;
        align-items: center;
    }
    .sender-details{
        padding: 15px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .sender-details div{
        margin-left:4px ;
    }
}
@media screen and (max-width: 620px) {
    .appointment{
        height: 510px;
        padding: 5px 0;
    }
    input{
        height: 15px;
    }
    .first,.second{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }
    .first-time-slots,.second-time-slots,.first-date,.second-date{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first-time-slots div{
        margin-top: 3.5px;
    }
    .send-button button{
        margin-top: 3px;
        width: 100px;
    }
}
@media screen and (max-width: 585px) {
    .reject-button{
        padding: 15px;
        align-items: center;
    }
    .sender-information{
        flex-direction: column;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;
        transition: 0.2s ease;
    }
    .sender-details{
        flex-direction: column;
        justify-content: space-around;
    }
}

