*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}
body{
    margin-left: 78px;
    height: 100vh;
    background-color: #dfe4ea59;
    max-width: calc(100vw - 78px);
}
.container{
    display: flex;
    flex-direction: column;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Segoe UI";
}
.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.announcements-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* margin: auto; */
}
.announcement{
    width: 70%;
    height: 170px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.096);
    border-radius: 3px;
    margin-top: 15px;
}
.header{
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .6em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.left{
    display: flex;
    flex: 1;
    align-items: center;

}
.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.down{
    margin-top: 6px;
}
.view-buttion button{
    float: right;
    margin-right: 15px;
    border: none;
    padding: 6px;
    width: 80px;
    cursor: pointer;
    background-color: #009685;
    border-radius: 2px;
    color: white;
    font-size: .7em;
}
.announe-title{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.801);
}
.post-date{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.74);
}
.description{
    font-size: .75em;
    color: rgba(0, 0, 0, 0.575);

    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .012em;
}
#more{
    font-size: .9em;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: .012em;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-title{
    height: 80px;
    display: flex;
    padding-left: 10%;
    align-items: center;
}
.cardselect{
    /*padding:20px 100px;*/
    margin-left: 190px;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.searchbar{
    display: flex;
}
.results{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #0606069d;
    font-size: .9em;
    max-width: 100px;
}
input{
    width: 100%;
    /* width: 250px; */
    border: 0;
    border-radius: 3px;
    height: 26px;
    padding-left: 3px;
    font-size: .7em;
    box-shadow: 1px 1px 6px rgba(131, 128, 128, 0.315);
    outline: none;
}
button{
    border: none;
    width: 100px;
    height:26px;
    margin-left: 5px;
    background-color: #0D47A1;
    color: white;
    border-radius: 3px;
    font-family: Segoe UI;
    font-size: .9em;
    letter-spacing: .1em;
    cursor: pointer;
}
/* responsive */

@media screen and (max-width: 1200px){
    .announcement{
        height: 350px;
        flex-direction: column;
        margin-top: 20px;
    }
    .right{
        justify-content: center;
        height: 100%;
    }
    .image-container{
        width: 100%;
    }
    .image-container img{
        width: 90%;
    }
}
@media screen and (max-width: 600px){
    .announcement{
        height: 420px;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;

        transition: 0.2s ease;
        /*transition-delay: 0.1s;*/
    }
}