
.container{
    display: flex;
    flex-direction: column;
    max-width: calc(100vw - 78px);
    margin-left: 78px;
    min-height: 100vh;

    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;

    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.content{
    color: #0606068e;
    display: flex;
    justify-content: center;
    background-color: transparent;
    background-color: var(--primary-color);
    padding-top: 50px;
}
.create-clinics-title{
    margin: 20px 20px 20px 35px;
    padding: 5px;
    font-size: 1.2em;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
}
.left{
    flex: 2;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: transparent;
}
.form-inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}
.inputs{
    font-size: .7em;
    display: block;
    width: 95%;
}
label{
    display: inline-block;
    padding-bottom: 10px;
    font-size: 1.2em;
}
input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 3px;
    height: 30px;
    padding-left: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}
#description{
    height: 208px;
    margin: 0px;
}

/* input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */
input[type=datetime-local]:required:invalid{
    color: transparent;
}
input[type=datetime-local]:focus{
    color: black !important;
}
input[type=time]:required:invalid{
    color: transparent;
}
input[type=time]:focus{
    color: black !important;
}

.create-button{
    display: flex;
    align-content: center;
    justify-content: center;
}
button{
    border: none;
    padding: 8px;
    width: 95%;
    background-color: #0D47A1;
    color: white;
    border-radius: 5px;
    font-family: Segoe UI;
    font-size: .9em;
    letter-spacing: .1em;
    cursor: pointer;
}
.right-inputs , .left-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 1px;
}
.right .live-card-title{
    /*margin: 14px 32px 15px 0px;*/
    padding: 20px 5px;
    text-align: center;
    font-size: 1.1em;
    min-width: 300px;

}
.right .live-card-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    height: 450px;
    margin: 2px auto;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 8' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
}


@media screen and (max-width: 1230px) {

}
@media screen and (max-width: 825px) {
    .content{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 609px) {
    .form-inputs{
        justify-content: start;

        flex-direction: column;
    }
    .right-inputs , .left-inputs{
        margin: 0px;
    }
}

@media screen and (max-width: 411px) {
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;

        transition: 0.2s ease;
        /*transition-delay: 0.1s;*/
    }
}