*{
    margin: 0;
    padding: 0;
}
.h4{
    /*color: rgb(88, 83, 83);*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    /*font-weight: 500;*/
    /*padding-bottom: 10px;*/
    font-size: 1em;
    color: #0606068c;
    font-family: "Segoe UI";
    /*padding: 10px 0*/
}
body{
    /*margin-left: 4vw;*/
    /*margin-top: 8vh;*/
    /*background-color: #f6f4f4;*/
    /*background-color: #Fff;*/
    background-image: linear-gradient(to right top, #f0fffe, #f4ffff, #f9feff, #fdfeff, #ffffff);
    max-width: calc(100vw - 78px);
    margin-left: 78px;

}
.header{
    padding: 10px 15px 10px 34px;
    height: 60px;
    box-sizing: border-box;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .7em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.c-db-container{
    display: flex;
    min-height: 100vh;
    /*background-color: red;*/
    padding: 40px;
    transition: 0.2s ease;
    /*padding: 50px;*/
}


.sidebar-main-show{
    max-width: calc(100vw - 260px);
    margin-left: 260px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}


.c-container-left{
    width: 70%;
    /* background-color: aqua; */
}
.c-container-right{
    width: 30%;
    /* background-color: bisque; */
    padding:0 15px;

}
.growth-calander{
    display: flex;

}

.upcomin-clinic{
    /* background-color: blueviolet; */
    /*height: 28%;*/
    margin-bottom: 20px;


}
.growth-calander{
    /* background-color: blue; */
    /*height: 72%;*/

}
.charts{
    width: 50%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.calander{
    width: 50%;
    /* background-color: crimson; */
    /*padding-right: 56px;*/
    /*background-color: #006633;*/
}
.chart{
    /* background-color: darkcyan; */
    /*height: 31vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.g-chart{
    /* background-color: rgb(38, 104, 38); */
    /*height: 24vh;*/
    margin-top: 10px;
    width: 100%;
}
.calander-body{
    /*background-color: fuchsia;*/
    margin-top: 10px;
    /*height: 59.3vh;*/
    width: 90%;
    margin: auto;
    /*float:right;*/
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.185);
}
.c-right-container{
    /* background-color: chartreuse; */
    background-color: rgb(255, 255, 255);
    /*box-sizing: border-box;*/
    padding: 10px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 15%);
    /*box-shadow:  0 3px 6px rgba(0, 0, 0, 0.1);*/
    margin-top: 10px;
    /*height: 85vh;*/
    /*background-color: white;*/
    /*background-image: linear-gradient(to right top, #f0fffe, #f4ffff, #f9feff, #fdfeff, #ffffff);*/
}

button {
    border: none;
    width: 100px;
    height: 20px;
    margin-left: 5px;
    background-color: #0D47A1;
    color: white;
    border-radius: 3px;
    font-family: Segoe UI;
    font-size: .7em;
    letter-spacing: .1em;
    cursor: pointer;
}
label{
    font-size: .7em;
}
/* clinic card */
.clinic-list{
    display: flex;
    /*height: 86%;*/
    /*justify-content: space-around;*/
    /*padding-right: 20px;*/
    align-items: center;
    margin: 10px 0;
    overflow:auto;
    max-width: 800px;
    cursor: grab;
    /* background-color: aqua; */
}
.clinic-list::-webkit-scrollbar {
    width: 10px !important;
    height: 10px;
}

.clinic-list::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */

}

.clinic-list::-webkit-scrollbar-thumb {
    background-color: rgba(61, 63, 62, 0.116);

}

.clinic-card{
    height: 150px;
    min-width: 350px;
    margin-left: 8px;

    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*box-shadow:  0 3px 6px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 1px 3px 6px rgb(0 0 0 / 15%);*/
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.151);
    /*background-color: white;*/
    /*background-color: rgb(255, 255, 255);*/
    /*cursor: pointer;*/

    /*width: 70%;*/
    /*height: 180px;*/
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 15%)
}
/*::-webkit-scrollbar {*/
/*    width: 10px;*/
/*}*/
.card-arraw{
    display: flex;
    align-items: center;
    /* background-color: #4f5ee2; */
}
.card-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}
.card-left .h5{
    color: #019686;
    font-size: 1.1em;
}
.card-date,.nop{
    font-size: 0.7em;
    color: rgb(160, 148, 148);
}

.reschdulebtn {
    display: block;
    width:fit-content;
    border: none;
    background-color: #0275d8;
    color: white;
    padding: 2.5px 6px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    cursor: pointer;
    text-align: center;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.1);
}

.reschdulebtn:hover {
    background-color: #ddd;
    color: black;
}
.card-right{
    width: 50%;
    /*background-color: #006633;*/
    padding: 0;
    margin: 0;
}




/* calander */
.calander h4{
    margin-left: 2.5vw;
}

.amount{
    font-size: 1em;
    margin-left: 3px;
}




/* :right */

.right{
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.1);
    height: 82vh;

}
.noclinic{
    display: flex;
    margin-top: 10px;
    /*padding: 10px 20px 16px 10px;*/
    border-bottom: 1px solid rgb(245, 244, 244);
    /*height: 17vh;*/
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pendingclinc{
    padding: 0 30px;
    margin-top: 20px;

}
.pctitle{
    /*color: rgb(12, 0, 0);*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-size: 1em;
    color: rgba(17, 17, 17, 0.795);
}
.nc-amount{
    width: 50%;
    text-align: center;
    padding-top: 30px;
}
.nc-count{
    font-weight: 400 ;
    font-size: 1.4em;
}
.diseases{
    margin-top: 20px;
}
.diseas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.disleft h2{
    font-size: 0.8em;
    color: rgb(29, 29, 29);
    font-weight: 100;
}
.disleft p{
    font-size: 0.5em;
    color: rgb(43, 43, 43);
}
.disright{
    display: flex;
    font-size: 0.8em;
    align-items: center;
    color: #2ECC71;
    font-weight: 500;
}
.ncimg{
    margin: 10px;
}

/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px rgb(128 128 128 / 30%);*/
/*    border-radius: 1px;*/
/*}*/
/*::-webkit-scrollbar{*/
/*    width:1px;*/
/*    cursor: pointer;*/
/*}*/






@media only screen and (max-width: 1243px ){
    .card-left h5{
        font-size: 0.7em;
    }
    .g-chart{
        margin-top: 0;
    }


}
@media only screen and (max-width: 987px ){
    .ncimg{
        display: none;
    }
    .reschdulebtn{
        margin-bottom: -63px;
        margin-right: 275px
    }
    .amount{
        font-size: 0.8em;
    }
    .clinic-card{
        position: relative;
        margin-bottom: 2.5px;
    }
    .card-right{
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 40%;
    }
    .growth-calander{
        flex-direction: column;

    }
    .charts{
        width: 93%;
        margin-top: 10px;
    }
    #chart2{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .calander{
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .calander-body{
        width: 90%;
    }
    .calander h4{
        text-align: center;
    }
    .nc-amount{
        font-size: 0.7em;
        width: 90%;
    }
    .c-db-container{
        flex-direction: column;
    }
    .c-container-right{
        margin-top: 20px;
        width: 100%;
    }
    .c-container-left{
        width: 100%;
    }
    .upcomin-clinic div{
        display: flex;
        flex-direction: column;

    }
}
@media only screen and (max-width: 904px ){
    .card-left h5{
        font-size: 0.6em;
    }
    .card-left{
        position: relative;
        width: 100%;
    }
    .reschdulebtn{
        position: absolute;
        /*right: 7px;*/
        bottom: 6px;
    }
    .c-container-right h4{
        font-size: 0.8em;
        letter-spacing: 1px;
    }
    .card-right{
        right: 0;
        bottom: 25px;
        width: 50%;
    }
    .amount{
        font-size: 1em;
    }
    img{
        width: 70%;
        height: 70%;
        margin-top: 5px;
    }
    .clinic-card{
        width: 400px;
    }
}
@media only screen and (max-width: 704px ){

    .noclinic{
        height: unset;
    }
    .nc-amount{
        width: 100%;
        align-items: center;
        padding: 0;
    }
   .clinic-card{
       width: 50%;
   }
}
@media only screen and (max-width: 688px ){
    .clinic-list{
        overflow-y: auto;
    }
    /*.upcomin-clinic{*/
    /*    height: 22vh;*/
    /*}*/


    /*#chart2{*/
    /*    margin-top: 30px;*/
    /*    margin-bottom: 70px;*/
    /*}*/

    .c-db-container{
       padding: 0;
    }
    .c-container-right{
        margin-top: 20px;
        width: 100%;
    }
    .c-right-container{
        display: flex;
        /* background-color: #4f5ee2; */
        /*margin-right: 50px;*/
    }
    .c-container-right h4{
        font-size: 1em;
        letter-spacing: 0;
    }
    .pendingclinc{
        width: 30vw;
        /* background-color: #019686; */
    }
    .diseases{
        height: 100%;
    }
    /*.clinic-card{*/
    /*    width: 40vw;*/
    /*    height: 15vh;*/
    /*}*/
    .c-right-container{
        flex-direction: column;
    }
    .pendingclinc{
        width:100%;
    }
    .growth-calander{
        height: 90%;
    }
    .sidebar-main-show{
        max-width: calc(100vw - 78px);
        margin-left: 78px;

        transition: 0.2s ease;
        /*transition-delay: 0.1s;*/
    }
    g-chart{
        width: 100px;
    }
}
@media only screen and (max-width: 576px ){
    #chart2{
        /*height: 25vh;*/
        margin-bottom: 0;
    }
    .c-container-right{
        margin-top:10px;
    }
    #chart1{
        /*height: 25vh;*/
    }
    .calander{
        margin-top: 75px;
    }
    .ncimg{
        display: none !important;
    }
    .nc-amount{
        font-size: 0.7em;
    }
    .clinic-card{
        width: 50%;
    }


}
@media only screen and (max-width: 443px ){
    .c-right-container{
        flex-direction: column;
        width: 100%;
    }
    .clinic-list{
        /*flex-direction: column;*/
        /*height: 30vh;*/
        /*margin-top: 10px;*/
        overflow-y: scroll;
    }
    .upcomin-clinic{
        height: 35vh;
    }
    .calander{
        display: none;
    }
    /*.growth-calander{*/
    /*    margin-top: 40px;*/
    /*}*/
    /*.clinic-card{*/
    /*    width: 87%;*/
    /*    !*height: 14vh;*!*/
    /*}*/
    .icon{
        display: none !important;
    }
    h4{text-align: center;}
    #chart2{
        margin-bottom: 0;
        display: none;
    }
    .chart{
        /*height: 18vh !important;*/
        /* background-color: #019686; */
        display: none;
    }
    .c-container-right{
        display: none;
    }
    /*.c-container-right h4{*/
    /*    font-weight: 400;*/
    /*    font-size: 1.1em;*/
    /*}*/
    /*.card-right{*/
    /*    right: 0;*/
    /*    bottom: 25px;*/
    /*    width: 30%;*/
    /*}*/
    .amount{
        font-size: 1em;
    }

}
@media only screen and (max-width: 374px ){

    .nc-amount{
        font-size: 1em;
        margin-top: 40px;
    }

}

