.alert-danger1{
    text-align: center;
    font-size: .9em;
    font-family: Arial, serif;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.43);
    margin-top: 10px;
    padding: 10px;
}
/*.alert-success{*/

/*}*/
/*.alert-warning{*/

/*}*/
