
@import "fonts.css";

.p-relative{
    position: relative;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.password-visibility{
    position: absolute;
    right:10px;
    top: 5px;
}
.w-100{
    width: 100%;
}
.c-gray{
    color: rgba(128, 128, 128, 0.68);
}
.form-response-error{
    color: var(--warning);
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}
.form-field-error{
    font-family: 'Montserrat', sans-serif;
    color: var(--warning);
    font-size: .8em;
    transition: .5s;
}
.form-field-success{
    font-family: 'Montserrat', sans-serif;
    color: var(--sucess);
    font-size: .8em;
    transition: .5s;
}
.t-center{
 text-align: center;
}

.pt-10{
    padding-top: 10px;
}
.pt-5{
    padding-top: 5px;
}
#user-form-error{
    width: 350px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: #ff0700;
    font-size: 2em;
    margin: auto;
}
/*phi */
.f-1{
    font-size: 1.2em;
    color: rgba(19, 18, 18, 0.808);
}
.f-2{
    font-size: .9em;
    color: rgba(0, 0, 0, 0.589);
}
.f1-green{
    font-size: 1.2em;
    color:#4BC0C0;
}
.f-3{
    font-size: .8em;
    color: #1e1f20cb;
}
.gray{
    color:rgba(128, 128, 128, 0.74);
}
.f3-bold{
    font-size: .8em;
    color: #1e1f20cb;
    font-weight: bold;
}
.f-4{
    font-size: .7em;
    color: #1e1f20be;
}
.f4-gray{
    font-size: .7em;
    color: rgba(128, 128, 128, 0.678);
}
.f-white{
    color: white;
}
.f-black{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.589);
    font-family: Arial, Helvetica, sans-serif;
}
.f-i{
    font-size: .5em;
}
.icon1{
    width: 26px;
    height: 26px;
    color: rgba(0, 0, 0, 0.486);
}