*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
body{
    max-width: calc(100vw - 78px);
    margin-left: 60px;
}
.sidebar-main-show{
    max-width: calc(100vw - 78px);
    margin-left: 180px;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.sidebar-main-show .content{
    background-color:  white;
    transition: 0.2s ease;
    /*transition-delay: 0.1s;*/
}
.header{
    padding: 10px 15px 10px 34px;
    min-height: 40px;
    margin-bottom: 2px;
    box-shadow: 0 3px 3px #0a0a0a1c;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header .upper-title{
    font-weight: bold;
    color: #060606a4;
    font-size: 1.2em;
    letter-spacing: .15em;
}
.header .dashboard-name{
    font-size: .7em;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.527);
    margin-top: 3px;
}
.vaccine-list-container{
    /* background-color: aqua; */
    height: 100vh;
    /*margin-left: 78px;*/
}
.search-row{
    /* background-color: blueviolet; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
    padding-left: 70px;
}
.nic{
    /* background-color: red; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.562);
}
.nic span{
    font-size: 19px;
}
#nicval{
    height: 25px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.075);
    outline: none;
    padding-left: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.562);
}
.search-content{
    /* background-color: brown; */
    margin-top: 10px;
    padding-left: 70px;
}
.user-details{
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 1px solid rgba(0, 0, 0, 0.212); */
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.075);
    color: rgba(0, 0, 0, 0.671);
    background-color: #55efc4;
    width: fit-content;
    padding: 5px 20px;
    padding-top: 17px;
    border-radius: 4px;
    letter-spacing: 0.5px;
}
.user-details p{
    margin-bottom: 10px;
    font-size: 18px;
}

table {
    /*border: 1px solid #ccc;*/
    color: rgba(0, 0, 0, 0.747);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 90%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}













